<html>
    <head>

    </head>
    <body>
        <div id="resultados">
            lista de resultados
            <div id="resultado-1">
                <div class="ida">
                    <div>data</div>
                    <div>origem</div>
                    <div>destino</div>
                    <div>horario-voo</div>
                    <div>previsao-chegada</div>
                </div>
                <div class=volta>
                    <div>data</div>
                    <div>origem</div>
                    <div>destino</div>
                    <div>horario-voo</div>
                    <div>previsao-chegada</div>
                </div>
                preco
                <button>selecionar</button>
            </div>
        </div>
    </body>
</html>