<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <input type="number" placeholder="insira código compra">
        <input type="submit" value="ok">
    </div>

    <div class="dados-compra">
        <div class="ida">
            <div>local-origem/local-destino</div>
            <div>data-horario</div>
        </div>
        <div class="volta">
            <div>local-destino/local-origem</div>
            <div>data-horario</div>
        </div>

        <div>titular-cartao</div>
        <div>ultimos-numeros-cartao</div>

        <div>
            lista-passageiros
            <div class="passageiro-1">
                <div>nome e sobrenome</div>
                <div>idade</div>
                <div>codigo-bilhete</div>
                <button>imprimir bilhete</button>
            </div>
        </div>
    </div>
</body>
</html>