<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="dados-cartao">
        <form>
          <fieldset>
            <label>Nome do titular</label>
            <input type="text">


            <label>Número do Cartão</label>
            <input type="text">
          </fieldset>
            
          <fieldset>
            1º Passageiro
            <label>Nome:</label>
            <input>
            <label>Sobrenome:</label>
            <input>
            <label>Data de Nascimento:</label>
            <input type="date">
          </fieldset>
        </form>
    </div>
</body>
</html>