<html>
    <head>

    </head>
    <body>
        <form>
            <select>
                <option>GYN</option>
                <option>GUA</option>
                <option>CON</option>
            </select>
            <select>
                <option>GYN</option>
                <option>GUA</option>
                <option>CON</option>
            </select>

            <input type="date" id="data-ida" name="data-ida">
            <input type="date" id="data-volta" name="data-volta">

            <label for="passageiros">Quantidade de Passageiros</label>
            <input type="number" id="passageiros">
            <label for="passageiros-menores">Quantidade de Menores de Idade</label>
            <input type="number" id="passageiros-menores">

            <input type="submit" value="Pesquisar">
        </form>
    </body>
</html>